on:
  push:
    tags:
      - '*'
  pull_request:
    branches: [main]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Install PlatformIO
        run: python -m pip install platformio==6.1.7
      - name: Build firmwares
        run: FIRMWARE_VERSION=${{github.ref_name}} platformio run
      - name: Archive
        uses: actions/upload-artifact@v3
        with:
          name: firmware
          path: .pio/build/*/firmware_*.bin
          retention-days: 1
  release:
    name: Release
    # if: startsWith(github.event.ref, 'refs/tags/v')
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo for CHANGELOG
        uses: actions/checkout@v3
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: firmware
          path: firmware
      # - name: Display structure of downloaded files
      #   run: ls -R
      - name: release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "firmware/*/firmware_*.bin"
          bodyFile: "CHANGELOG.md"